*{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}
body{
    /*imagem de fundo*/
    width: 100%;
    height: 100vh;
    background-image: url("/img/Flamengo.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flexbox;
    align-items: center;
    justify-content: center;  
    flex-direction: column;

}
header{
    display: inline;
}
nav{
    padding: 40px;
    width: 100%;
    height: 10%;
    font-size: xx-large;
    background-color: #dfe4e4;
    text-align: right;
}
nav a{ 
    text-decoration: none;
} 

main{
    width: 100%;
    height: 80%;
}

.jogador {
    justify-content:center;
    padding: 5%;
    position: sticky;
    max-width: 100%;
    height: 100%; 
     /*cor de fundo e borda*/
    border:0px solid aqua;
    /* posicionamento dos box*/
    display:flex;
    /*alinhamento vertical*/
    align-items: center;
    flex-wrap: wrap;
    /*alinhamento horizontal*/
    justify-content:space-evenly;

}
.individuo{
    /*cor de fundo e borda*/
    background-color: #f2f5f5;
    border: 30px solid rgb(0, 0, 0);
    /* tamanho*/
    height: 150px;
    width: 150px;
    font-family: 'Dancing Script', cursive;
}
.container{
    padding-top: 20px;
    position: relative;
    height: 150px;
    width: 150px;
    cursor: pointer;
    overflow: hidden;
}
.container:hover .text{
    visibility: visible;
}
.container:hover img{
    transform: scale(1.1);
}
.image{
    height: 150px;
    width: 150px;
}

.image img{
    height: 150px;
    width: 150px;
object-fit: cover;
    }
.text{
    height: 150px;
    width: 150px;
    /* tamanho da fonte */
    font-size: 1.2rem;
    /* posicao */
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    /*cor de fundo */
    background: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    visibility: hidden;
    transition: .1s ease;
}
.text h3{
    margin-bottom: 1.2rem;
}
footer{
    height: 10%;
    padding: 10;
    background-color: rgb(131, 131, 131);
    text-align: center;
}
