*{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
main{
    width: 100%;
    height:80%;
    /*imagem de fundo*/
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(4, 3, 3, 0.966)
  ), url("/img/times-brasil.jpg");
 /* width: 100%;
  height: 100%;/*
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black 100%);
  background-image: url(/img/times-brasil.jpg);*/

}
header{
    display: inline;
}
nav{
    padding: 20px;
    width: 100%;
    height: 10%;
    background-color: #dfe4e4;
    text-align: right;
}
nav a{ 
    text-decoration: none;
}
* {
    box-sizing: border-box;
  } 
  
 body
.container{
    justify-content: center;
    align-items: center;
    padding: 2%;
    position: sticky;
    max-width: 100%;
    height: 100%; 
     /*cor de fundo e borda
    border:0px solid aqua;*/
    /* posicionamento dos box*/
    display:flex;
    /*alinhamento vertical*/
    align-items: center;
    flex-wrap: wrap;
    /*alinhamento horizontal
    justify-content:space-evenly;
    background-image: url("/img/Flamengo.gif");
    background-repeat: none;*/
}
article .individuo{
    /*cor de fundo e borda*/
    background-color: #f2f5f5;
    border: 2px solid rgb(0, 0, 0);
    /* tamanho*/
    height: 25%;
    width: 18%;
    font-family: 'Dancing Script', cursive;
}
article .individuo #id1 :hover{
    font-family: 'Courier New', Courier, monospace;

}
footer{
    height: 5%;
    padding: 10;
    background-color: rgb(131, 131, 131);
    text-align: center;
}

